<div class="nav-container">
  <div class="logo-container">
    <img
      class="logo"
      src="../assets/svg/qscustomerportal.svg"
      alt="dashboard - Quantum Systems"
    />
  </div>
  <div class="menu-container">
    <div class="menu-item" routerLink="/profile">
      <img
        class="icon"
        src="../assets/svg/dashboard.svg"
        alt="dashboard - Quantum Systems"
      />
      <div>Dashboard</div>
    </div>
    <div class="menu-item" routerLink="/equipment">
      <img
        class="icon"
        src="../assets/svg/equipment.svg"
        alt="dashboard - Quantum Systems"
      />
      <div>My Equipment</div>
    </div>
    <div class="menu-item">
      <img
        class="icon"
        src="../assets/svg/academy.svg"
        alt="dashboard - Quantum Systems"
      />
      <div>QS Academy</div>
    </div>
    <div class="menu-item">
      <img
        class="icon"
        src="../assets/svg/help.svg"
        alt="dashboard - Quantum Systems"
      />
      <div>Help</div>
    </div>
  </div>
</div>
