@font-face {
  font-family: "AvenirNext-Bold";
  src: url(../assets/fonts/AvenirNext-Bold-01.ttf);
}

@font-face {
  font-family: "AvenirNext-DemiBold";
  src: url(../assets/fonts/AvenirNext-DemiBold-03.ttf);
}

@font-face {
  font-family: "AvenirNext-Medium";
  src: url(../assets/fonts/AvenirNext-Medium-06.ttf);
}

@font-face {
  font-family: "AvenirNext-Regular";
  src: url(../assets/fonts/AvenirNext-Regular-08.ttf);
}
