<div class="topnav-container">
  <div class="avatar-container">
    <div class="image-container">
      <div class="user-profile">
        <span class="user-name">{{ getInitalsFromName() }}</span>
      </div>
      <div class="button-container">
        <div class="texts">
          <p>
            <b class="name">Raul Rincones</b> <br />
            UAV Operations Manager
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="search-container">
    <div class="button-container">
      <app-button [searchType]="true" [title]="'UPDATE'"></app-button>
    </div>
  </div>
  <div
    class="burger-container"
    [ngClass]="clickOn ? 'change' : ''"
    (click)="opening()"
  >
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
    <div class="circle"></div>
  </div>
</div>
<span class="line"></span>
<div class="menu-open" [ngClass]="clickOn ? 'showing' : ''">
  <ul>
    <li>
      <img class="icon" src="../assets/svg/out.svg" />
      <div>Login</div>
    </li>
    <li>
      <img class="icon" src="../assets/svg/out.svg" />
      <div>Logout</div>
    </li>
  </ul>
</div>
