<div class="image-container">
  <img *ngIf="preview.length > 0" [src]="preview" class="" />
  <div *ngIf="preview.length === 0" class="user-profile">
    <span class="user-name">{{ getInitalsFromName() }}</span>
  </div>
  <div class="button-container">
    <div class="button-texts">
      <p>
        <b class="name">Upload new Avatar</b> <br />
        The maximum file size allowed is 200KB.
      </p>
    </div>
    <input
      type="file"
      (change)="selectFile($event)"
      class="select-profile-picture"
    />
    <span class="message">CHOOSE</span>
  </div>
</div>
