<h1 class="heading">My Equipment</h1>
<div class="equipment-container">
  <div class="block">
    <div class="row-3">
      <h2>My Drones</h2>
      <div>Drone S/N</div>
      <div>Details</div>
    </div>
    <span class="break-line"></span>
    <div class="row-3 content">
      <p>My Drones</p>
      <div>4CE0460D0Gp6774y</div>
      <div>Details</div>
    </div>
  </div>
  <div class="block">
    <div class="row-4">
      <h2>My Cameras & Accessories</h2>
      <div>Camera S/N</div>
      <div>Details</div>
      <div>Support</div>
    </div>
    <span class="break-line"></span>
    <div class="row-4 content">
      <p>My Drones</p>
      <div>4CE0460D0Gp6774y</div>
      <div>Details</div>
      <div>Support</div>
    </div>
  </div>
  <div class="block">
    <div class="row-3">
      <h2>My Software</h2>
      <div>Version</div>
      <div>Download</div>
    </div>
    <span class="break-line"></span>
    <div class="row-3 content">
      <div class="software-entry">
        <div>
          <img class="icon" src="../assets/svg/out.svg" />
        </div>
        <div>
          <b>Obase</b>
          <br />
          <span>plan & control software for X drones</span>
        </div>
      </div>
      <div>4CE0460D0Gp6774y</div>
      <div><img class="icon" src="../assets/svg/download.svg" /></div>
    </div>
  </div>
</div>
